.contacts{
    &__title{
      display: flex;
      justify-content: center;
      text-align: center;
    }
    &__form {
      display: grid;
      grid-template-columns: 255px 255px;
      gap: 30px;
      row-gap: 0;
      justify-content: center;
    }
    &__text{
      width: 255px;
      padding: 17px 20px 18px 20px;
      margin-right: 26px;
      margin-bottom: 20px;
    }
    &__email {
      width: 255px;
      padding: 17px 20px 18px 20px;
      margin-bottom: 20px;
    }
    &__comment {
      width: 540px;
      height: 175px;
      padding: 17px 20px 143px 20px;
    }
  }